@font-face {
  font-family: 'Anaktoria';
  src: url('../assets/fonts/Anaktoria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: var(--color-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
