:root {
  --color-background: #010101;

  --color-text: #FFFFFF;


  --font-title: 'Anaktoria', serif;
  --font-body: 'Inter', sans-serif;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
}

